<!DOCType>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/courses/style.css">
    <title>Courses</title>
</head>

<body>
<center>

<h1 class="title">Ashar Farooq's MIT Classes</h1>

<iframe src="../static/courses/AsharFarooqMITClasses.pdf" width="50%" height="500px">
</iframe>
</center>

<h3 class="subtitle">Fall 2019</h3>

<ul>
    <li>8.01:
    <ul>
        <li>Interesting and practical class on many important physics concepts</li>
        <li>Group problem solving sessions with 2 hour lectures</li>
    </ul>
    </li>
    <li>18.02:
        <ul>
            <li>Foundational to numerous other courses</li>
            <li>Textbook and practice yields most benefits</li>
        </ul>
    </li>
    <li>6.042:
        <ul>
            <li>Introduces proof and argumentative mindset useful for algorithms and data structures</li>
            <li>Many different theorems and topics with difficult problems-driven exams and problem sets</li>
            <li><a href="../static/courses/042text.pdf" target="blank">Textbook</a>
            </li>
        </ul>
    </li>
    <li>24.00:
        <ul>
            <li>Discussion-based class with many different readings, ideologies, and philosophical topics</li>
            <li>Papers and brief oral presentations in sections</li>
            <li><a href="../static/courses/PhilosophyFinalPaper.pdf" target="blank">Final Paper</a>
            </li>
        </ul>
    </li>
</ul>

<h3 class="subtitle">Spring 2020</h3>

<ul>
    <li>6.006:
        <ul>
            <li>Introduced foundational data structures</li>
            <li>Difficult problems-driven lectures, problem sets, and exams</li>
            <li><a href="https://www.youtube.com/playlist?list=PLkmfVgHfranLkDUgSuIJaV36zUV5anrdy" target="blank">Lectures</a>
        </ul>
    </li>
    <li>6.08:
        <ul>
            <li>Combination of hardware and software with interactive labs, design projects, and final project</li>
            <li>Fun and intensive class</li>
            <li><a href="https://farooqashar.github.io/Ashar6.08FinalProjectWriteup/" target="blank">Final Project</a>
        </ul>
    </li>
    <li>14.01:
        <ul>
            <li>Flexible and informative</li>
            <li><a href="../static/courses/1401.pdf" target="blank">Final Assignment</a>
        </ul>
    </li>
    <li>8.02:
        <ul>
            <li>Many different components, such as learning sequences, problem solving, problem sets,and quizzes</li>
        </ul>
    </li>
</ul>

<h3>Fall 2020</h3>

<ul>
    <li>6.046:
        <ul>
            <li>Difficult combination of 6.042 and 6.006</li>
            <li>Problems-driven class</li>
            <li><a href="https://edutechlearners.com/download/Introduction_to_algorithms-3rd%20Edition.pdf" target="blank">CLRS Textbook</a>
        </ul>
    </li>
    <li>6.009:
        <ul>
            <li>Coding labs-driven class</li>
            <li>Object-oriented class</li>
        </ul>
    </li>
    <li>14.13:
        <ul>
            <li>Really insightful and relatable class</li>
        </ul>
    </li>
    <li>14.41:
        <ul>
            <li>Policy-driven class</li>
            <li>Zoom attendance required</li>
            <li><a href="../static/courses/14.41Textbook.pdf" target="blank">Textbook</a>
        </ul>
    </li>
    <li>18.600:
        <ul>
            <li>Flexible and asynchronous class</li>
            <li>Practice problems-driven class</li>
        </ul>
    </li>
</ul>

<h3>Spring 2021</h3>

<ul>
    <li>6.036:
        <ul>
            <li>Asynchronous</li>
            <li>Hard grading</li>
            <li>Includes many components, such as labs, exercises, problem sets, and nanoquizzes</li>
            <li><a href="../static/courses/6_036_lecture_notes.pdf" target="blank">Notes</a>
        </ul>
    </li>
    <li>14.32:
        <ul>
            <li>Zoom attendance required</li>
            <li>Problem sets and midterm</li>
            <li>Self-learning Stata and statistics</li>
            <li><a href="../static/courses/14.32_Notes.pdf" target="blank">Notes</a>
            <li><a href="../static/courses/metrics.pdf" target="blank">Textbook</a>
        </ul>
    </li>
    <li>CMS.100:
        <ul>
            <li>Discussions, presentations, and readings-based</li>
            <li><a href="https://media-infrastructure-farooqashar.vercel.app/" target="blank">Media Infrastructure Project</a>
            <li><a href="https://new-media.vercel.app/" target="blank">Media Phenomenon Final Project</a>
        </ul>
    </li>
    <li>15.053:
        <ul>
            <li>Interesting, flexible, and applicable</li>
            <li>Julia, Excel, and other tools</li>
            <li><a href="https://github.com/mpolen/fireroading" target="blank">Final Project</a>
        </ul>
    </li>
</ul>

<br/>
<center>
<a href = "/"><button class="button">Go Back</button></a>
<br/>
<br/>
<a href = "polls"><button class="button">Answer some polls!</button></a>
</center>
</body>
</html>