<!DOCType>
<html>

<head>
<link rel="stylesheet" type="text/css" href="../static/courses/style.css">
    <title>Home</title>
</head>

<body>
<center><h1 class = "title">MIT CLASSES</h1>

<h4 class="subtitle">This website allows you to access some comments and files for various MIT classes that Ashar Farooq MIT '23 has taken.</h4>
<h4 class="subtitle">In addition, you can also vote on some polls relating to the likeability of various classes by the site's users.</h4>


<a href = "courses/"><button class="button">Check out information on some MIT classes!</button></a>
<br/>
<br/>
<a href = "courses/polls"><button class="button">Answer some polls!</button></a>
</center>
<br/>

</body>
</html>